cat > /etc/gitlab-runner/config.toml << 'EOF'
concurrent = 1
check_interval = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "docker-runner"
  url = "http://localhost:8000/"
  token = "glrt-jzqdLkEeg68fl_leYB1A8286MQp0OjEKdToxCw.01.12063wcce"
  executor = "docker"
  [runners.docker]
    tls_verify = false
    image = "alpine:latest"
    privileged = true
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["/var/run/docker.sock:/var/run/docker.sock", "/cache"]
    network_mode = "host"
    shm_size = 0
EOF