---
# 1️⃣ Secret con las credenciales del túnel
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-credentials
  namespace: default
type: Opaque
stringData:
  credentials.json: |
    {
      "AccountTag": "35aXXX7",
      "TunnelSecret": "6FRmyXXXX",
      "TunnelID": "24fe17f1-XXXX"
    }

---
# 2️⃣ ConfigMap con la configuración del túnel
apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: default
data:
  config.yaml: |
    tunnel: 24fe17f1-d89a-48e9-b055-32969a42c981
    credentials-file: /etc/cloudflared/credentials.json

    ingress:
      - hostname: app.esprueba.com
        service: http://flask-app-service:80
      - service: http_status:404

---
# 3️⃣ Deployment de cloudflared
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:latest
        args:
          - tunnel
          - --config
          - /etc/cloudflared/config.yaml
          - run
        env:
          - name: TUNNEL_ORIGIN_CERT
            value: "/etc/cloudflared/credentials.json"
        volumeMounts:
          - name: config
            mountPath: /etc/cloudflared/config.yaml
            subPath: config.yaml
            readOnly: true
          - name: credentials
            mountPath: /etc/cloudflared/credentials.json
            subPath: credentials.json
            readOnly: true
        livenessProbe:
          httpGet:
            path: /ready
            port: 20241 # El puerto 20000 es el correcto para el Health Check de cloudflared
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /ready
            port: 20241 # El puerto 20000 es el correcto para el Health Check de cloudflared
          initialDelaySeconds: 5
          periodSeconds: 5
      volumes:
        - name: config
          configMap:
            name: cloudflared-config
            items:
              - key: config.yaml
                path: config.yaml
        - name: credentials
          secret:
            secretName: cloudflared-credentials
            items:
              - key: credentials.json
                path: credentials.json
